<nav class="flex justify-center items-center w-1/2 h-20 my-8 bg-gradient-to-r from-slate-300 to-slate-200 shadow-lg shadow-slate-500/50 rounded-lg gap-8">
    <img class="w-24 rounded-lg relative -left-24" src="/img/GereTaThune_logo.PNG" alt="logo">
    <a class="hover:text-red-700 hover:underline hover:underline-offset-8 decoration-2" href="/">Accueil</a>
    <% if (locals.user !== null){%>
        <a class="hover:text-red-700 hover:underline hover:underline-offset-8 decoration-2" href="/finance">Mes finances</a>
        <a class="hover:text-red-700 hover:underline hover:underline-offset-8 decoration-2" href="/logout">Se déconnecter</a>
        <p><%= locals.user.firstname %></p>
    <%} else {%>
        <a class="hover:text-red-700 hover:underline hover:underline-offset-8 decoration-2" href="/register">S'inscrire</a>
        <a class="hover:text-red-700 hover:underline hover:underline-offset-8 decoration-2" href="/login">Se connecter</a>
    <%}%>    
</nav>