<nav class="flex justify-center items-center w-1/2 h-20 my-8 bg-gradient-to-r from-slate-300 to-slate-200 shadow-lg shadow-slate-500/50 rounded-lg gap-8 box-border overflow-hidden">
    
    <a class="underliner" href="/">Accueil</a>
    <% if (locals.user !== null){%>
        <a class="underliner" href="/finance">Mes finances</a>
        <a class="underliner" href="/finance/monthlyedit">Préférences compte</a>
        <a class="underliner" href="/logout">Se déconnecter</a>
        <% if (locals.user.role === "admin"){%>    
            <a class="underliner" href="/admin/categories">Admin</a>
        <%}%>
        <p><%= locals.user.firstname %></p>
    <%} else {%>
        <a class="underliner" href="/register">S'inscrire</a>
        <a class="underliner" href="/login">Se connecter</a>
    <%}%>    
</nav>