<nav class="flex justify-center items-center w-2/3 h-16 my-8 bg-blue-300 rounded-lg gap-8">
        <a href="/">Accueil</a>
    <% if (locals.user !== null){%>
        <a href="/finance">Mes finances</a>
        <a href="/logout">Se déconnecter</a>
        <p><%= locals.user.firstname %></p>
    <%} else {%>
        <a href="/register">S'inscrire</a>
        <a href="/login">Se connecter</a>
    <%}%>    
</nav>