<%- include('partials/header') %>

<%- include('partials/nav') %>

<section class="container-all">
    <form method="POST">
        <label for="name">Nom de la catégorie</label>
        <input class="inp" type="text" name="name" value="<%= category.name %>">
    
        <label for="name">Couleur</label>
        <input class="inp" type="color" name="color" value="<%= category.color %>">
    
        <select class="inp w-40" name="operation_id" required>
            <option value="1">Débit</option>
            <option value="2">Crédit</option>
            <option value="3">Epargne</option>
        </select>
    
        <button class="button-all" type="submit">Valider</button>
    </form>
</section>

</body>
</html>