<%- include('partials/header') %>

<%- include('partials/nav') %>

<div class="container-all" >
    <h1 class="block py-6  text-lg font-bold">Termes et conditions d'utilisation de GereTaThune - La seule condition : être riche !</h1>
    
    <p class="block py-6 ">Vous acceptez par la présente que l'on siphonne vos données et qu'on les utilisent à but très lucratif pour nourrir nos ptites familles.
        Un grand merci à vous.
    </p>
    
    <p class="block py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, distinctio libero. Accusantium, magni voluptate! Doloribus ea iusto amet unde modi facilis harum dignissimos, tempore corrupti laboriosam consequatur doloremque reiciendis sapiente pariatur provident, porro alias perspiciatis corporis velit architecto! Necessitatibus, illum aperiam. Beatae quo totam aliquid iusto vitae perspiciatis odio aspernatur sint, nam, iure fuga, praesentium consequuntur esse vel laudantium eveniet eligendi ducimus nisi! Accusantium, minus earum? Quod repudiandae nisi veniam ullam accusamus nemo possimus modi libero dolor, vero exercitationem quis, eos veritatis nobis? Consequuntur minus ex obcaecati hic, deleniti distinctio in aspernatur maxime dolorum ducimus ratione ullam excepturi quia itaque!</p>
    
    <p class="block py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, distinctio libero. Accusantium, magni voluptate! Doloribus ea iusto amet unde modi facilis harum dignissimos, tempore corrupti laboriosam consequatur doloremque reiciendis sapiente pariatur provident, porro alias perspiciatis corporis velit architecto! Necessitatibus, illum aperiam. Beatae quo totam aliquid iusto vitae perspiciatis odio aspernatur sint, nam, iure fuga, praesentium consequuntur esse vel laudantium eveniet eligendi ducimus nisi! Accusantium, minus earum? Quod repudiandae nisi veniam ullam accusamus nemo possimus modi libero dolor, vero exercitationem quis, eos veritatis nobis? Consequuntur minus ex obcaecati hic, deleniti distinctio in aspernatur maxime dolorum ducimus ratione ullam excepturi quia itaque!</p>
    
    <p class="block py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, distinctio libero. Accusantium, magni voluptate! Doloribus ea iusto amet unde modi facilis harum dignissimos, tempore corrupti laboriosam consequatur doloremque reiciendis sapiente pariatur provident, porro alias perspiciatis corporis velit architecto! Necessitatibus, illum aperiam. Beatae quo totam aliquid iusto vitae perspiciatis odio aspernatur sint, nam, iure fuga, praesentium consequuntur esse vel laudantium eveniet eligendi ducimus nisi! Accusantium, minus earum? Quod repudiandae nisi veniam ullam accusamus nemo possimus modi libero dolor, vero exercitationem quis, eos veritatis nobis? Consequuntur minus ex obcaecati hic, deleniti distinctio in aspernatur maxime dolorum ducimus ratione ullam excepturi quia itaque!</p>
    
    <p class="block py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, distinctio libero. Accusantium, magni voluptate! Doloribus ea iusto amet unde modi facilis harum dignissimos, tempore corrupti laboriosam consequatur doloremque reiciendis sapiente pariatur provident, porro alias perspiciatis corporis velit architecto! Necessitatibus, illum aperiam. Beatae quo totam aliquid iusto vitae perspiciatis odio aspernatur sint, nam, iure fuga, praesentium consequuntur esse vel laudantium eveniet eligendi ducimus nisi! Accusantium, minus earum? Quod repudiandae nisi veniam ullam accusamus nemo possimus modi libero dolor, vero exercitationem quis, eos veritatis nobis? Consequuntur minus ex obcaecati hic, deleniti distinctio in aspernatur maxime dolorum ducimus ratione ullam excepturi quia itaque!</p>

    <button class="button-all" onclick="window.close()">Fermer les CGUs</button>

</div>