<%- include('partials/header') %>

<%- include('partials/nav') %>

    <h1 class="text-2xl font-bold text-zinc-700">Login</h1>

    <section class="container-all">
        <% if (locals.error) { %>
        <div>
            <p><%= error %></p>
        </div>
        <% } %> <% if (locals.message) { %>
        <div>
            <p><%= message %></p>
        </div>
        <% } %>
            <form class="flex flex-col items-center gap-4 text-end py-8" method="POST" action="/login">
            <div>
                <label for="email">Adresse mail : </label>
                <input class="inp" type="email" name="email" value="admin@gmail.com" required>
            </div>
            <div>
                <label for="password">Mot de passe : </label>
                <input class="inp" type="password" name="password" value="adminadmin" required>
            </div>
            <input type="submit" class="button-all" value="Login">
        </form>
        <p>Don't have an account ? <a class="hover:text-red-700" href="/register">Sign Up</a></p>
    </section>

</body>
</html>